$primaryColor: #fff;
$secondaryColor: #000;
$lightGrey: #e6e8ec;
$primaryGrey: #777e90;
$buttonColor: #23262f;
$buttonBgColor: #3b71fe;
$lightTextColor: #fcfcfd;
$textColor: #23262f;
$shadowColor: #0f0f0f1a;
$secondaryTextColor: #23262f;
$shadowColor: #0f0f0f1a;
$bgGradientColor: linear-gradient(
  180deg,
  #f4f5f6 87.16%,
  rgba(244, 245, 246, 0) 137.55%
);
$bgGradientCard: linear-gradient(
  83.59deg,
  #fcfcfd 36.52%,
  rgba(252, 252, 253, 0.83) 98.8%
);
$secondaryGeadient: linear-gradient(
  89.59deg,
  #fcfcfd 36.52%,
  rgba(252, 252, 253, 1) 98.8%
);
